<div class="all">
<div class="body">
    <h1>
        Welcome to your <br> professional community
    </h1>

    <input type="text" placeholder="Email or Phone"><br>

    <input type="password" placeholder="password"><br>

    <a href="" class="Forgot">Forgot password?</a><br>

    <button>Sign in</button><br>

    <div class="line">
        _________________ or _________________
    </div><br>

    <p>
        By clicking Continue, you agree to LinkedIn’s <a href="#">User Agreement, Privacy <br> Policy,</a> and <a href="#">Cookie Policy.</a>
    </p>
</div>

<div class="image">
    <img class="image" [src]="imageURL" alt="Image Description">
</div>
</div>
